<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">
<!-- Define your beans here -->
<!-- Adding the properties file in the context file --> 

	
<bean class= "com.prayagdesai.Bean.HappyFortuneService" id="myFortuneService"></bean>


<bean class="com.prayagdesai.Bean.TrackCoach" id="myCoach"
init-method="doInitStuff"
destroy-method="doDestroyStuff">
<constructor-arg ref="myFortuneService"/>
</bean>
 
</beans>